.button {
  background: #1F8EFA;
  box-shadow: 0 10px 25px 0 rgba(62,73,91,0.15);
  border-style: solid;
  border-radius: 3px;
  padding: 6px;
  min-width: 100px;
  color: #FFF;
  border-color: #1F8EFA;
  outline: none;

  &:hover {
    cursor: pointer;
    filter: opacity(0.9);
  }
  
  &:active {
    border-style: solid;
    filter: saturate(0.5);
  }

  &--full {
    width: 100%;
  }
}