@import '../animations/backgroundAnimation.scss';

.full-screen {
  width: 100vw;
  height: 100vh;
  
  &--center {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &--animated {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 300% 300%;
    animation: $backgroundAnimation 20s ease infinite;
  }
}